// Typography
$base-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

// Font Sizes
$base-font-size: 1.6rem;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.2;

// Other Sizes
$vr: 1rem; // vertical-rhythm = 10px
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Primary Colours
$blue: rgb(0, 59, 119);
$light-blue: rgb(153, 203, 205);
$red: rgb(205, 15, 54);
$green: rgb(0, 160, 163);
$light-grey: rgb(233, 233, 233);
$light-light-grey: lighten($light-grey, 5%);
$grey: rgb(157, 157, 157);
$dark-grey: rgb(90, 90, 90);

// Other Colours
$white: hsl(0, 0, 100);
$soft-black: #222222;


// Font Colors
$base-font-color: $soft-black;
$action-color: $blue;
$link-color:$green;

// Border
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $light-grey;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


