footer.site-footer {
  position:relative;
  background-color: $dark-grey;
  z-index: 100;
}

.site-footer__content {
  @include outer-container();
  padding-top:($vr * 3);
  padding-bottom:($vr * 3);
  color:$light-grey;
  @include font-size(13, 21);

  h6 {
    color:white;
  }
}

.site-footer__nav {
  text-align: center;
}

.site-footer__logo {
  svg {
    max-width:10rem;
    max-height:2.6rem;
  }
}

.site-footer__legal {
  margin-top:$vr;
  text-align: center;
  @include font-size(11, 16);
}

.site-footer__column-one-third {
  @include one-third-nom;
  margin-bottom:$base-spacing;
  padding:0 1rem;
}
.site-footer__column-two-thirds {
  @include two-thirds-nom;
  margin-bottom:$base-spacing;
  padding:0 1rem;
}