.container {
  @include outer-container();
}
.container--with-padding {
  @include outer-container();
  padding-top:$base-spacing * 2;
  padding-bottom:$base-spacing;
}
.container--narrow {
  @include media(xl-up) {
    padding-left:$column * 2;
    padding-right:$column * 2;
  }
}

.sidebar-content {
  margin-top: $base-spacing * 2;

  @include media($xl-up) {
    margin-top:0;
  }
}