// Hide elements
.hide {
  display:none !important;
}
.hide--s {
  @include media($xs) {
    display: none !important;
  }
}
.hide--s {
  @include media($s) {
    display: none !important;
  }
}
.hide--m {
  @include media($m) {
    display: none !important;
  }
}
.hide--l {
  @include media($l) {
    display: none !important;
  }
}
.hide--xl {
  @include media($xl) {
    display: none !important;
  }
}

// Show elements
.show {
  display:block !important;
}

// Margin
.margin--none {
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}