// Hide elements
.hide {
  display:none !important;
}
.hide--s {
  @include media($xs) {
    display: none !important;
  }
}
.hide--s {
  @include media($s) {
    display: none !important;
  }
}
.hide--m {
  @include media($m) {
    display: none !important;
  }
}
.hide--l {
  @include media($l) {
    display: none !important;
  }
}
.hide--xl {
  @include media($xl) {
    display: none !important;
  }
}

// Show elements
.show {
  display:block !important;
}

// Margin
.margin--none {
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}

.margin--small-bottom {
  margin-bottom:$base-spacing * 0.5;
}

// Text
.text--red {
  color:$red;
}
.text--blue {
  color:$blue;
}
.text--light-blue {
  color:$light-blue;
}

.text--with-underline {
  padding-bottom: $base-spacing * 0.33;
  border-bottom:0.3rem solid $red;
  display:inline-block;
}

// Positioning
.position--center-vertical {
  display:flex;
  align-content:center;
  align-items:center;
}