// Hide elements
.hide {
  display:none !important;
}
.hide--s {
  @include media($xs) {
    display: none !important;
  }
}
.hide--s {
  @include media($s) {
    display: none !important;
  }
}
.hide--m {
  @include media($m) {
    display: none !important;
  }
}
.hide--l {
  @include media($l) {
    display: none !important;
  }
}
.hide--xl {
  @include media($xl) {
    display: none !important;
  }
}

// Show elements
.show {
  display:block !important;
}

// Margin
.margin--none {
  margin-top:0 !important;
  margin-bottom:0 !important;
  margin-left:0 !important;
  margin-right:0 !important;
}

.margin--top {
  margin-top:$base-spacing !important;;
}

.margin--large-top,
.margin--top-large {
  margin-top:$base-spacing * 2 !important;;
}

.margin--small-top,
.margin--top-small {
  margin-top:$base-spacing * 0.5 !important;;
}

.margin--bottom {
  margin-bottom:$base-spacing !important;;
}

.margin--large-bottom,
.margin--bottom-large {
  margin-bottom:$base-spacing * 2 !important;;
}

.margin--none-bottom,
.margin--bottom-none {
  margin-bottom:0 !important;
}

.margin--small-bottom,
.margin--bottom-small {
  margin-bottom:$base-spacing * 0.5 !important;
}

// Text
.text--red {
  color:$red !important;

  &.with-line {
    border-bottom-color:$red;
  }
}
.text--blue {
  color:$blue !important;

  &.with-line {
    border-bottom-color:$blue;
  }
}
.text--green {
  color:$green !important;

  &.with-line {
    border-bottom-color:$green;
  }
}
.text--grey {
  color:$grey !important;

  &.with-line {
    border-bottom-color:$grey;
  }
}

.text--light-grey {
  color:$light-grey !important;

  &.with-line {
    border-bottom-color:$light-grey;
  }
}

.text--orange {
  color:$orange !important;

  &.with-line {
    border-bottom-color:$orange;
  }
}
.text--dark-orange {
  color:shade($orange, 30%) !important;

  &.with-line {
    border-bottom-color:shade($orange, 30%);
  }
}
.text--light-blue {
  color:$light-blue !important;

  &.with-line {
    border-bottom-color:$light-blue;
  }
}
.text--white {
  color:white !important;

  &.with-line {
    border-bottom-color:white;
  }
}

.text--black {
  color:black !important;

  &.with-line {
    border-bottom-color:black;
  }
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--with-underline {
  padding-bottom: $base-spacing * 0.33;
  border-bottom:0.3rem solid $red;
  display:inline-block;
}

.text--bold {
  font-weight: 800 !important;
}

.text--expand {
  @include media($l-up) {
    letter-spacing: 0.4rem;
  }
}

.text--divider {
  padding:0 5px;
}

.text--page-intro {
  margin:0;
  @include font-size(14, 20);

  @include media($m-up) {
    @include font-size(16, 24);
    width: 60%;
  }
}

.text--page-intro--centered {
  margin:0 auto;
}

// Positioning
.position--center-vertical {
  display:flex;
  align-content:center;
  align-items:center;
}

.position--relative {
  position:relative;
}

// Icons
.icon--hero {
  display:block;
  margin:0 auto $base-spacing;
  max-width:4.8rem;
}

.icon--inline { // An icon positioned to the left of text
  padding-right:0.5rem;
}

// Grid
.grid--one-quarter {
  @include one-quarter-nom;
}
.grid--one-quarter-o {
  @include one-quarter;
}

.grid--half {
  @include one-half-nom;
}
.grid--half-o {
  @include one-half;
}

.grid--two-thirds {
  @include two-thirds-nom;
}

.grid--one-third {
  @include one-third-nom;
}
.grid--one-third-o {
  @include one-third;
}

.grid--three-quarters {
  @include three-quarters-nom;
}