body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size * 0.90;
  line-height: $base-line-height * 0.90;

  @include media($l-up) {
    font-size: $base-font-size;
    line-height: $base-line-height;

  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
  font-weight: 700;

  &.with-line {
    padding-bottom: $base-spacing;
    border-bottom:1px solid $light-grey;
  }

  .header-link {
    float:right;
  }
}

h1 {
  @include font-size(24, 28);

  @include media($m-up) {
    @include font-size(32, 36);
  }

  @include media($l-up) {
    @include font-size(42, 44);
    letter-spacing: -0.1rem;
  }
}

h4 {
  @include font-size(16, 24);
}

h5 {
  @include font-size(15, 21);
}

h6 {
  @include font-size(14, 21);
}

p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  font-weight:500;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $dark-grey;
  }
}

ul, ol {
  margin-left:0px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
  font-weight: 800;
}

figure {
  figcaption {
    font-style: italic;
    font-size:90%;
    text-align: center;
    color:$grey;
  }

}


blockquote,
.blockquote {
  margin:0 0 $base-spacing;
  width:100%;
  font-weight: 800;
  border-radius: $base-border-radius;
  border-color:transparent;

  @include media($l-up) {
    box-sizing: content-box;
    max-width:40rem;
  }

  p {
    margin:0;
    color:$blue;
    font-style: italic;
    padding:0;
    @include font-size(16, 28);

    @include media($l-up) {
      @include font-size(18, 32);
    }
  }
  p + p {
    margin-bottom: $base-spacing;
  }

  &.pull--left {

    @include media($l) {
      float:left;
      margin:2rem 4rem 2rem 0;
    }

    @include media($xl-up) {
      float:left;
      border-left-width: 40rem;
      border-style: solid;
      margin: 2rem 4rem 2rem -40rem;
    }
  }

  &.pull--right {

    @include media($l) {
      float:right;
      margin:2rem 0 2rem 4rem;
    }

    @include media($xl-up) {
      float:right;
      border-right-width: 40rem;
      border-style: solid;
      margin: 2rem -40rem 2rem 4rem;
    }
  }
}

.blockquote--red,
.blockquote--blue,
.blockquote--green,
.blockquote--grey {
  padding:3rem;

  p {
    color:white;
  }
}

.blockquote--red {
  background: $red;
  border-color:$red;
}
.blockquote--blue {
  background-color: $blue;
  border-color:$blue;
}
.blockquote--green {
  background-color: $green;
  border-color:$green;
}
.blockquote--grey {
  background-color: $grey;
  border-color:$grey;
}


// Text Helpers
.text--upper {
  text-transform: uppercase;
  letter-spacing: 0rem;
}