body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size * 0.90;
  line-height: $base-line-height * 0.90;

  @include media($l-up) {
    font-size: $base-font-size;
    line-height: $base-line-height;

  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
  font-weight: 700;

  &.with-line {
    padding-bottom: $base-spacing;
    border-bottom:1px solid $light-grey;
  }

  .header-link {
    float:right;
  }
}

h1 {
  @include font-size(24, 28);

  @include media($m-up) {
    @include font-size(32, 36);
  }

  @include media($l-up) {
    @include font-size(42, 44);
    letter-spacing: -0.1rem;
  }
}

h4 {
  @include font-size(16, 24);
}

h5 {
  @include font-size(15, 21);
}

h6 {
  @include font-size(14, 21);
}

p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  font-weight:500;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $dark-grey;
  }
}

ul, ol {
  margin-left:0px;
}

blockquote,
.blockquote {
  margin:0 0 $base-spacing;
  width:100%;
  font-weight: 800;

  @include media($l-up) {
    max-width:40rem;
  }

  p {
    margin:0;
    color:$blue;
    font-style: normal;
    @include font-size(16, 18);

    @include media($l-up) {
      @include font-size(18, 32);
    }
  }

  &.pull--left {
    float:left;

    @include media($l) {
      margin:4rem 4rem 4rem -5rem;

    }

    @include media($xl-up) {
      margin: 4rem 4rem 4rem 0rem;
    }
  }

  &.pull--right {
    float:right;

    @include media($l) {
      margin:4rem -5rem 4rem 4rem;

    }

    @include media($xl-up) {
      margin: 4rem 0rem 4rem 4rem;
    }
  }
}

.blockquote--red,
.blockquote--blue,
.blockquote--green {
  padding:3rem;
  p {
    color:white;
  }
}

.blockquote--red {
  background:
          url('img/bg_maze_white_transparency.png') top left repeat,
          $red;
}
.blockquote--blue {
  background:
          url('img/bg_maze_white_transparency.png') top left repeat,
          $blue;
}
.blockquote--green {
  background:
          url('img/bg_maze_white_transparency.png') top left repeat,
          $red;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
  font-weight: 800;
}

// Text Helpers
.text--upper {
  text-transform: uppercase;
  letter-spacing: 0rem;
}