.gdpr.gdpr-privacy-bar {
  background:rgba(0,0,0,0.5);

  .gdpr-wrapper p, .gdpr-preferences, .gdpr-agreement {
    font-size:12px;
    line-height:14px;
  }

  .gdpr-wrapper {
    padding:10px 20px;
  }

}
