.news-extract {
  @include clearfix;
  margin-bottom:$base-spacing;

  a img:hover {
    opacity:0.7;
  }
}

.news-extract__image { // Applied to img tag if standard, container div if horizontal
  display: block;
  max-width:100%;
  margin-bottom:$base-spacing * 0.5;
  border-radius: 0.5rem;
  box-shadow:0 0.2rem 0.2rem rgba(black, 0.3);
}

.news-extract__headline {
  display:block;
  @include font-size(18,24);
  font-weight: 800;
  margin-bottom:$small-spacing * 0.5;

  a {
    font-weight: 500;
  }

  &.news-extract__headline--feature {
    @include font-size(26, 30);
    margin-bottom:$small-spacing * 1.5;
    letter-spacing: -0.5px;

    a { font-weight: 800; }
  }

  &.news-extract__headline--small {
    @include font-size(16, 21);
    margin-bottom:$small-spacing;
  }
}

.news-extract__meta {
  @include font-size(13, 14);
  font-weight: 800;
  color:$dark-grey;
  margin-bottom:$base-spacing * 0.5;
}

.news-extract__extract {
  @include font-size(13,21);
}

.news-extract--horizontal {
  .news-extract__image { // applied to container div if horizontal
    box-shadow:none;

    @include media($m-up) {
      @include span-columns(4);
      margin-right:$gutter * 0.25;
    }

    &.news-extract__image--small {
      @include media($m-up) {
        @include span-columns(2);
        margin-right:$gutter * 0.2;
      }

      & ~ .news-extract__details {
        @include media($m-up) {
          @include span-columns(10);
        }
      }
    }

    img {
      border-radius: 0.5rem;
      box-shadow:0 0.2rem 0.2rem rgba(black, 0.3);
    }
  }
  .news-extract__details {
    @include media($m-up) {
      @include span-columns(8);

      &.news-extract__details--full-width {
        @include span-columns(12);
      }
    }
  }
}

.news-extract__category {
  &:not(:last-child) {
    &:after {
      content: ', ';
    }
  }
}

.news-extract__social-media-links {
  margin-left:-0.5rem;
  margin-top:$small-spacing;
}
