.news-footer__news,
.news-footer__tweets {
  margin-bottom:$base-spacing * 2;
}

@include media($xl-up) {
  .news-footer__news {
    @include span-columns(8.5);
    margin-bottom:0;
    padding-right:$column * 0.5;
  }
  .news-footer__tweets,
  .news-footer__filters {
    @include span-columns(3.5);
    margin-bottom:0;
  }
}

.news-footer__filters {
  @include box();
}