.news-extract {
  @include clearfix;
  margin-bottom:$base-spacing;

  a img:hover {
    opacity:0.7;
  }
}

.news-extract__image { // Applied to img tag if standard, container div if horizontal
  display: block;
  max-width:100%;
  margin-bottom:$base-spacing * 0.5;
  border-radius: 0.5rem;
  box-shadow:0 0.2rem 0.2rem rgba(black, 0.3);
}

.news-extract__headline {
  display:block;
  @include font-size(18,24);
  font-weight: 800;
  margin-bottom:$small-spacing;

  a {
    font-weight: 800;
  }
}

.news-extract__meta {
  @include font-size(13, 14);
  font-weight: 800;
  color:$dark-grey;
  margin-bottom:$base-spacing * 0.5;
}

.news-extract__extract {
  @include font-size(13,21);
}

.news-extract--horizontal {
  .news-extract__image { // applied to container div if horizontal
    box-shadow:none;

    @include media($l-up) {
      @include span-columns(4);
      margin-right:$gutter * 0.25;
    }

    img {
      border-radius: 0.5rem;
      box-shadow:0 0.2rem 0.2rem rgba(black, 0.3);
    }
  }
  .news-extract__details {
    @include media($l-up) {
      @include span-columns(8);
    }
  }
}
