.stripe {
  position:relative;
  padding:$base-spacing * 2 0;
  margin:0 0 $base-spacing * 2 0;
  overflow: hidden;
}
.stripe--small-padding {
  padding: $base-spacing 0;
}
.stripe--large-padding {
  padding: $base-spacing * 4 0;
}
.stripe--no-margin {
  margin:0;
}

.stripe__content {
  @include outer-container();
}

.stripe--border-bottom {
  border-bottom:0.3rem solid $red;
}

.stripe--white {
  background-color: white;
}

.stripe--light-grey {
  background: linear-gradient($light-grey 33%, darken($light-grey, 8%)), $light-grey;
}

.stripe--light-light-grey {
  background-color: $light-light-grey;
}

.stripe--grey {
  background: linear-gradient($grey 33%, darken($grey, 8%)), $grey;
}

.stripe--light-green {
  background: linear-gradient($light-green 33%, darken($light-green, 8%)), $light-green;
}

.stripe--light-green--fade {
  background: linear-gradient(to bottom, $light-green 20%, rgba($light-green, 0) 50%);
}

.stripe--light-blue {
  background: lighten($light-blue, 3%);
}

.stripe--light-blue--fade {
  background: linear-gradient(to bottom, lighten($light-blue, 2%) 20%, rgba($light-blue, 0) 50%);
}