.vertical-menu {
  list-style: none;
  padding:0;
  margin:0;
}

.vertical-menu__small {
  @include font-size(12, 13);
}

.vertical-menu--upper {
  text-transform: uppercase;
}

.vertical-menu__item {
  &:not(:last-of-type) {
    margin-bottom:$base-spacing * 0.3;
  }
}

.vertical-menu__link:link,
.vertical-menu__link:visited {
  display: block;
  padding: 0.8rem;
}
.vertical-menu__link:hover {
  background-color: $light-grey;
}

.vertical-menu__item--active {
  .vertical-menu__link:link,
  .vertical-menu__link:visited {
    border-radius: $base-border-radius;
    background:
            linear-gradient(to bottom, $blue 0%, darken($blue, 4%) 100%),
            $blue;
    color:white;
  }
}