.home-hero {
  position: relative;
  width:100vw;
  /*margin-left:-25vw;*/
  height:calc(100vh - 7rem); // 7rem = header height
  max-height:150rem;
  background:
          linear-gradient(to bottom right, rgba(17,134,156,0.3) 0%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,0.0) 60%, rgba(17,134,156,0.2) 100%),
          linear-gradient(to bottom left, rgba(17,134,156,0.1) 0%, rgba(17,134,156,0) 20%, rgba(17,134,156,0.0) 80%, rgba(17,134,156,0.3) 100%),
          url(img/home_hero_bg_map.svg) center no-repeat,
          linear-gradient(to bottom right, #f2f9f9 10%, #a0d4d7 100%);
  box-shadow: inset 0 -0.5rem 2.5rem rgba(black, 0.2);
  background-size: auto, auto, cover, auto;
  overflow:hidden;

  @include media($l-up) {
    height:100vh;
    background:
            linear-gradient(to bottom right, rgba(17,134,156,0.3) 0%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,0.0) 60%, rgba(17,134,156,0.2) 100%),
            linear-gradient(to bottom left, rgba(17,134,156,0.1) 0%, rgba(17,134,156,0) 20%, rgba(17,134,156,0.0) 80%, rgba(17,134,156,0.3) 100%),
            url(img/bg_lines.png) top left repeat,
            linear-gradient(to bottom right, #f2f9f9 10%, #a0d4d7 100%);
  }

  @include media($xl-up) {
    height:calc(100vh - 10rem); // 10rem = header height
    background-attachment: fixed;
    margin-top:-10rem; // to allow for fixed header to sit on top
    padding-top:10rem; // to allow for negative margin above
  }
}

.home-hero__content {
  @include outer-container();
  height:100%;
}

.home-hero__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  width:85vw;
  margin:0 auto;
  height:100%;
  /*background:grey;*/

  @include media($l) {
    padding-top:8vh;
    justify-content: flex-start;
    align-items: flex-start;
    width:55vw;
    margin-left:5vw;
    text-align: left;
  }

  @include media($xl-up) {
    width:40vw;
    max-width:60rem;
    margin:0;
    text-align: left;
    align-items:flex-start;
  }
}

.home-hero__title {
  @extend h2;

  @include media($xl-up) {
    @include font-size(34, 38);
  }

  @include media(min-width 1300px) {
    @include font-size(40, 44);
  }
}

.home-hero__para {
  @include media($l-up) {
    @include font-size(16, 24);
    font-weight:500;
  }
}

.home-hero__map-container {
  height:100%;
}
.home-hero__map svg {
  display: none;

  @include media($l) {
    display: block;
    position: absolute;
    right:-10rem;
    bottom:0;
    width:80rem;
  }

  @include media($xl-up) {
    display: block;
    position: absolute;
    left:50vw;
    top:50vh;
    margin-top:-75rem;
    width:100rem;
  }
}

.home-block {
  position: relative;
  overflow: visible;
  width: 100vw;
  @include media($xl-up) {
    height:100vh;
  }
}

.home-block__content {
  height:100%;
  @include media($m-up) {
    padding-left:6rem;
    padding-right:6rem;

  }

  @include media($xl-up) {
    display: flex;
    align-items: center;
  }
}

.home-block__image,
.home-block__text {
  @extend .grid--half;
  text-align: center;

  @include media($xl-up) {
    text-align: left;
  }
}

@include media($xl-up) {
  .home-block__text {
    @include span-columns(5.5);
  }
  .home-block__image {
    @include span-columns(6.5);
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // IE fix for SVG sizes
  /* IE10+ CSS styles go here */
  .home-block__image svg {
    min-height:60rem;
  }
}





.home-block__image img {
  display: block;
  margin:0 auto $base-spacing * 2;
  height:50vh;
  overflow: visible;

  @include media($xl-up) {
    margin:0;
  }
}

.home-block__text--full-width {
  width:100%;
}

.home-block--flip { // flip the image and text around on larger displays
  @include media($xl-up) {
    .home-block__image {
      @include shift(6);
    }
    .home-block__text {
      @include shift(-12);
    }
  }
}

.home-block__text--narrow {
  @include media($xl-up) {
    padding-left:10rem;
    padding-right:10rem;

  }
}

.scroll-down-indicator {
  @include box();
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width:3rem;
  height:3rem;
  left:50%;
  bottom:2rem;
  margin-left:-1.5rem;
  border-radius: 50%;
  z-index:999;
  opacity:0;
  animation: bob 1.5s ease-in-out infinite,
  fadeInFromNone 2s linear forwards;
  animation-delay: 2s;
  text-align: center;
}

.home__members-carousel {
  @extend .carousel;
  margin:0 0 $base-spacing * 2 !important;
}

.connector-divider__container {
  display:none;
  position: relative;
  width:100%;
  background: darken($blue, 10%);

  @include media($xl-up) {
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      display: block;
      height:1rem;
    }
  }

  .connector-divider {
    display: none;
    position: absolute;
    top:-8rem;
    left:50%;
    margin-left:-2.5rem;
    width:5rem;
    z-index:9999;
    overflow: visible;

    #dot1 {
      stroke: darken($blue, 10%);
    }

    &.visible {
      display: block;
    }
  }
}

// TEMPORARY

.home-block.stripe--blue {
  background:
          url(img/bg_lines_light_small.png) top left repeat,
          url(img/comms_icons_bg.svg) top left repeat,
          linear-gradient($blue 33%, darken($blue, 3%)), $blue;
  background-size: auto, cover, auto;
  background-attachment: fixed;
}

.home-block.stripe--red {
  background:
          url(img/bg_lines_light_small.png) top left repeat,
          url(img/bg_digital_squares.png) center right no-repeat,
          linear-gradient($red 33%, darken($red, 10%)), $red;
  background-size: auto, cover, auto;
  background-attachment: fixed;
}

.home-block.stripe--green {
  background:
          url(img/bg_lines_light_small.png) top left repeat,
          url(img/bg_connecting_lines_right_only.png) center right no-repeat,
          linear-gradient($green 33%, darken($green, 3%)), $green;
  background-size: auto, cover, auto;
  background-attachment: fixed;
}

.home-hero__title,
.home-hero__para,
.home-hero__buttons {
  opacity:0;
  transform-origin: center;
  animation: fadeInFromNone 1s ease-in-out forwards;
  animation-delay: 1s;
  width:100%;
}

// SVG STUFF


@media screen and (-webkit-min-device-pixel-ratio:0) {

  #connector {
    opacity: 0;
    transform-origin: center;
    animation: hoverInverse 4s ease-in-out infinite,
    fadeInFromNone 0.5s ease-out forwards;
    animation-delay: 0.5s;

    #line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: drawLineAndStop 5s linear forwards;
      animation-delay: 0.5s;
    }
  }

  @include media($xl-up) {
    #heromap {
      opacity: 0;
      transform-origin: center;
      animation: hoverInverse 4s ease-in-out infinite,
      fadeInFromNone 1s ease-out forwards;
      animation-delay: 0.5s;

      #thicklines {

        & > g, path, polyline {
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation: drawLineAndStop 10s linear forwards;
          animation-delay: 2s;

          @supports(-ms-ime-align: auto) { // Edge fix - don't adjust think lines on the map
            stroke-dasharray: 0;
          }
        }
      }

      #thinlines {
        opacity: 0;
        transform-origin: center;
        animation: fadeInFromNone 2s ease-out forwards;
        animation-delay: 2s;

        @supports(-ms-ime-align: auto) { // Edge fix - don't delay fade in
          animation: fadeInFromNone 1.5s ease-out forwards;
          animation-delay: 0s;
        }
      }

      #dots {
        opacity: 0;
        transform-origin: center;
        animation: fadeInFromNone 2s ease-out forwards;
        animation-delay: 2s;

        @supports(-ms-ime-align: auto) { // Edge fix - don't delay fade in
          animation: fadeInFromNone 1.5s ease-out forwards;
          animation-delay: 0s;
        }
      }
    }
  }

  #homeblock1svg {
    margin-bottom:$base-spacing;
    @include media($xl-up) {
      margin-bottom:-10rem;
    }

    #logocircles {
      & > g {
        transform-origin: center;
        animation: pulseSizeGrow 2s ease-in-out infinite,
        hover 4s ease-in-out infinite;

        &:nth-of-type(2n) { animation-delay: -1.5s }
        &:nth-of-type(3n) { animation-delay: -2.8s }
        &:nth-of-type(4n) { animation-delay: -1.2s }
      }
    }

    #icons {
      @include media($xl-up) {
        path,
        g {
          transform-origin: center;
          animation: pulseSizeShrink 2s ease-in-out infinite;

          &:nth-of-type(2n) { animation-delay: -0.5s }
          &:nth-of-type(3n) { animation-delay: -0.8s }
          &:nth-of-type(4n) { animation-delay: -1.2s }
        }
      }
    }

    #stars {
      polygon {
        transform-origin: center;
        animation: starsFadeInOut 1.5s linear infinite,
        starsRotate 6s linear infinite;

        &:nth-of-type(2n) { animation-delay: -0.5s }
        &:nth-of-type(3n) { animation-delay: -0.8s }
        &:nth-of-type(4n) { animation-delay: -1.2s }
      }
    }

    #lines {
      & > g {
        @include media($xl-up) {
          stroke-dasharray: 1.5;
          animation: moveDottedLines 7.5s linear infinite;
          &:nth-of-type(2n) { animation-delay: -1.5s }
          &:nth-of-type(3n) { animation-delay: -2.8s }
        }
      }
    }

    #devices {
      @include media($xl-up) {
        > g {
          transform-origin: center;
          animation: hover 6s ease-in-out infinite;

          &:nth-of-type(2) { animation-delay: -1.2s }
          &:nth-of-type(3) { animation-delay: -0.8s }
        }

        #laptop {
          transform-origin: center;
          animation: hoverInverse 6s ease-in-out infinite;
        }
      }
    }
  }


  #homeblock2svg {
    margin-bottom: $base-spacing;
    @include media($xl-up) {
      margin-bottom: 0;
    }

    #map {
      g {
        opacity:0.8;
        &:nth-of-type(2n) { opacity:0.6; }
        &:nth-of-type(3n) { opacity:0.7; }
        &:nth-of-type(4n) { opacity:0.4; }
      }
    }

    #blueelements {
      transform-origin: center;
      animation: rotate360 60s linear infinite;
    }

    #whiteelements {
      transform-origin: center;
      animation: rotate360 100s linear infinite;
    }

    #greenelements {
      transform-origin: center;
      animation: rotate360 60s linear infinite;
      animation-direction: reverse;
    }

    #eustars {
      @include media($xl-up) {
        transform-origin: center;

        #pulsecircle1 {
          transform-origin: center center;
          animation: pulseDot 3s linear infinite;
          animation-delay: 1s;
        }
        #pulsecircle2 {
          transform-origin: center center;
          animation: pulseDot 3s linear infinite;
          animation-delay: 2s;
        }
      }
    }
  }

  #homeblock3svg {
    transform-origin: center;
    animation: hover 6s ease-in-out infinite;

    #largecircles {
      transform-origin: 208px 202.5px;
      animation: pulseSizeShrink 20s ease-in-out infinite;
    }

    #pointercircle {
      transform-origin: center 202.5px;
      animation: rotatePointerCircle 4s ease-in-out infinite;
    }

    #speechbubblelines {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: drawLine 3s linear infinite;
      transform-origin: center;
    }

    #speechbubblered,
    #speechbubbleblue,
    #speechbubbleorange {
      transform-origin: center;
      animation: pulseSizeShrink 2s ease-in-out infinite;

      &:nth-of-type(2n) { animation-delay: -0.5s }
      &:nth-of-type(3n) { animation-delay: -0.8s }
      &:nth-of-type(4n) { animation-delay: -1.2s }
    }

    #wglogos {
      transform-origin: center;
      stroke-dasharray: 1.5;
      animation: moveDottedLines 7.5s linear infinite,
      rotate360 60s linear infinite;
    }

    #lines {
      display: none;
      @include media($xl-up) {
        display: block;
        & > g {
          stroke-dasharray: 200;
          animation: drawLine 3s linear infinite,
          starsFadeInOut 3s infinite;
          &:nth-of-type(2n) { animation-delay: -1.5s }
          &:nth-of-type(3n) { animation-delay: -2.8s }
          animation-direction: reverse;
        }
      }
    }
  }

  #happylaptop {

    @include media($xl-up) {
      #laptop {
        transform-origin: center;
        animation: hoverInverseLarge 6s ease-in-out infinite;
      }

      #shadow {
        transform-origin: center;
        animation: hoverLarge 6s ease-in-out infinite;
      }

      #lines {
      transform-origin: center;
      animation: hoverInverseLarge 6s ease-in-out infinite;
    }
    }

  }

}

#happylaptop { // all browsers
  display: block;
  max-width: 17rem;
  margin: 0 auto $base-spacing;
}



// ANIMATION

@keyframes moveInFromRight {
  0% {
    transform:translate(0, -5rem);
    opacity:0;
  }
  100% {
    transform:translate(0, 0);
    opacity:1;
  }
}

@keyframes dsmCircle {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotatePointerCircle {
  20% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hover {
  50% {
    transform:translateY(3px);
  }
}

@keyframes hoverLarge {
  50% {
    transform:translateY(6px);
  }
}

@keyframes hoverInverse {
  50% {
    transform:translateY(-3px);
  }
}

@keyframes hoverInverseLarge {
  50% {
    transform:translateY(-6px);
  }
}

@keyframes bob {
  50% {
    bottom:3rem;
  }
  100% {
    bottom:2rem;
  }
}

@keyframes starsFadeInOut {
  50% {
    opacity:0.3;
  }
}

@keyframes starsRotate {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

@keyframes countriesFadeInOut {
  50% {
    opacity:1;
  }
}

@keyframes pulseSizeGrow {
  50% {
    transform:scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulseSizeGrowBigger {
  50% {
    transform:scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulseSizeShrink {
  50% {
    transform:scale(0.9);
  }
}

@keyframes growIn {
  0% {
    transform:scale(0.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes moveDottedLines {
  to {
    stroke-dashoffset: -200;
  }
}

@keyframes drawLine {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes drawLineAndStop {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulseDot{
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  50%{
    opacity: 0.1;
  }
  70%{
    opacity: 0.09;
  }
  100%{
    transform: scale(5);
    opacity: 0;
  }
}
