.news-archive__hero-story {
  @include clearfix;
  padding:$base-spacing * 2 0;
  @include media($l-up) {
    display:flex;
    align-items:  center;
    padding:$base-spacing * 4 0;
  }
}

.news-archive__hero-story__image {
  margin:-($base-spacing * 4) -2rem $base-spacing; // Fill the screen width and bump up against header on mobile

  @include media($l-up) {
    margin:0 0 0 0;
    @include span-columns(6);

    img {
      border-radius:0.5rem;
      box-shadow:0 0 50px white;
    }
  }
}

.news-archive__hero-story__headline {
}
.news-archive__hero-story__content {
  @include media($l-up) {
    @include span-columns(6);
  }
}

.news-archive__hero-story__meta {
  @extend .news-extract__meta;
  @include font-size(14, 16);
  font-weight:800;
  margin-bottom:$base-spacing;

  @include media($l-up) {
    @include font-size(14, 16);
  }
}

.news-archive__hero-story__extract {
  @extend .news-extract__extract;
  @include font-size(14,21);
  margin-bottom:$base-spacing;

  @include media($l-up) {
    @include font-size(15, 21);
  }
}

.news-archive__feature-story {
  margin-bottom:$base-spacing * 2;

  @include media($l-up) {
    margin-bottom:0;
  }
}