.news-story__hero {
  border-bottom:0.3rem solid $red;

  @include media($l-up) {
    height: 60rem;
    overflow:hidden;
  }
}
.news-story__hero__content {
  @include outer-container();
  position:relative;
  padding:7rem 2rem;
  color:white;
  text-shadow:0 0.2rem 0 black;

  @include media($l-up) {
    padding:16rem 0;
  }
}
.news-story__category-headline,
.news-story__headline,
.news-story__meta {
  @include media($l-up) {
    @include shift(1.5);
    @include span-columns(8);
  }
}

.news-story__category {
  &:not(:last-of-type) {
    &:after {
      content:', ';
    }
  }

  a {
    font-weight:800;
  }
}

.news-story__breadcrumbs {
  display:none;
  position:absolute;
  top:$base-spacing;

  @include media($l-up) {
    display: block;
  }
}

.news-story__meta {
  margin-top: $small-spacing;
  @include font-size(13, 14);
}

.news-story__tags {
  margin:$base-spacing * 2 0 $base-spacing;
  strong {
    color:$green;
  }
}
.news-story__tag-icon svg {
  max-width:1.6rem;
  max-height:1.6rem;
}

.news-story__tag {
  display:inline-block;
  background-color: #e3e3e3;
  border-radius: 0.8rem;
  font-weight: 800;
  @include font-size(15, 16);
  padding:0.8rem 1rem;
  border-bottom:0.2rem solid #d9d9d9;
  margin-bottom:$small-spacing;
  color:$green !important;

  @include media($l-up) {
    @include font-size(13, 14);
    padding:0.5rem 1rem;
  }

  &:hover {
    color:$dark-grey !important;
    opacity:0.7;
  }

  &.active {
    background-color:$green;
    cursor:default;
    color:white !important;
    border-bottom:0.2rem solid darken($green, 5%);
    &:hover {
      opacity:1;
    }
  }
}

.news-story__categories {
  @include media($xl-up) {
    @include span-columns(3);
  }
}
.news-story__content {
  @include media($xl-up) {
    @include shift(1.5);
    @include span-columns(9);
  }

  p {
    position:relative;

    @include media($l-up) {
      padding:0 5rem;
    }
  }

}
.news-story__sidebar {
  @include media($xl-up) {
    @include span-columns(3);
  }
}
