.policy-area__sidebar-menu {
  @include box();
  @include media($xl-up) {
    margin-top:-5rem;
  }
}

.policy-area__hero {
  @include media($xl-up) {
    height:45rem;
  }
}

.policy-area__hero__content {
  @include outer-container();

  @include media($xl-up) {
    position: relative;
    display:flex;
    align-items: center;
    width:70%;
    min-width:90rem;
  }
}

.policy-area__breadcrumbs {
  display:none;

  @include media($l-up) {
    display: block;
  }
}

.policy-area__hero__text {
  padding:$base-spacing * 2 0 0;
  text-align: center;

  @include media($m) {
    padding:$base-spacing * 3 5rem 0;
  }

  @include media($xl-up) {
    @include span-columns(6);
    text-align: left;
    padding:0;
  }
}
.policy-area__hero__title {
}

.policy-area__hero__description {
  @include font-size(14, 18);

  @include media($m-up) {
    @include font-size(16, 25);
  }
}

.policy-area__hero__graphic {
  img {
    display:block;
    max-width:20rem;
    margin:0 auto;

    @include media($m-up) {
      max-width:30rem;
    }

    @include media($xl-up) {
      max-width:45rem;
    }
  }

  @include media($xl-up) {
    @include span-columns(5);
    img {
      width:45rem; // To ensure the image keeps its dimensions and isn't resized
    }
  }
}

.policy-area__main {
  @include clearfix;
  margin-bottom:$base-spacing;
  @include font-size(16, 25);

  @include media($xl-up) {
    padding-right:$column;
  }
}

.policy-area__related-info-block {
  background-color: white;
  border:0.5px solid $light-grey;
  border-bottom:2px solid $grey;
  border-radius: 0.6rem;

  &:first-of-type {
    margin-top:$base-spacing * 2;
  }

  &:not(:last-of-type) {
    margin-bottom:$base-spacing;
  }
}

.policy-area__related-info-block__title {
  position: relative;
  color:white;
  padding:0.8rem 1.2rem;
  border-radius:0.5rem 0.5rem 0 0;
  margin:0;
  cursor: pointer;
  box-shadow:0 0.2rem 0 rgba(black, 0.2);

  &:hover {
    opacity:0.7;
  }


  &:before {
    position:absolute;
    right:1rem;
    font-family: 'FontAwesome';
    content: '\f0d8';
    margin:0 1rem;
  }

  &.inactive {
    border-radius: 0.5rem;

    &:before {
      font-family: 'FontAwesome';
      content: '\f0d7';
      margin:0 1rem;
    }
  }
}

.policy-area__related-info-block__title--red {
  background:
          linear-gradient($red 0%, shade($red, 10%) 100%),
          $red;
}

.policy-area__related-info-block__title--blue {
  background:
          linear-gradient($blue 0%, shade($blue, 10%) 100%),
          $blue;
}

.policy-area__related-info-block__title--green {
  background:
          linear-gradient($green 0%, shade($green, 10%) 100%),
          $green;
}

.policy-area__related-info-block__title--orange {
  background:
          linear-gradient($orange 0%, shade($orange, 10%) 100%),
          $orange;
}

.policy-area__related-info-block__title--grey {
  background:
          linear-gradient($grey 0%, shade($grey, 10%) 100%),
          $grey;
}

.policy-area__related-info-block__title--light-grey {
  background:
          linear-gradient($light-grey 0%, shade($light-grey, 10%) 100%),
          $light-grey;
}

.policy-area__related-info-block__title--dark-grey {
  background:
          linear-gradient($dark-grey 0%, shade($dark-grey, 10%) 100%),
          $dark-grey;
}

.policy-area__related-info-block__title__icon {
  margin-right: 0.5rem;
}

.policy-area__related-info-block__content {
  padding:2rem;
}