.policy-area__sidebar-menu {
  @include box();
  @include media($xl-up) {
    margin-top:-5.5rem;
  }
}

.policy-area__hero {
  @include media($xl-up) {
    height:45rem;
  }
}

.policy-area__hero__content {
  @include outer-container();

  @include media($xl-up) {
    position: relative;
    display:flex;
    align-items: center;
    width:70%;
    min-width:90rem;
  }
}

.policy-area__breadcrumbs {
  display:none;

  @include media($l-up) {
    display: block;
  }
}

.policy-area__hero__text {
  padding:$base-spacing * 2 0 0;
  text-align: center;

  @include media($m) {
    padding:$base-spacing * 3 5rem 0;
  }

  @include media($xl-up) {
    @include span-columns(6);
    text-align: left;
    padding:0;
  }
}
.policy-area__hero__title {
}

.policy-area__hero__description {
  @include font-size(14, 18);

  @include media($m-up) {
    @include font-size(16, 25);
  }
}

.policy-area__hero__graphic {
  img {
    display:block;
    max-width:20rem;
    margin:0 auto;

    @include media($m-up) {
      max-width:30rem;
    }

    @include media($xl-up) {
      max-width:45rem;
    }
  }

  @include media($xl-up) {
    @include span-columns(5);
    img {
      width:45rem; // To ensure the image keeps its dimensions and isn't resized
    }
  }
}

.policy-area__main {
  @include clearfix;
  margin-bottom:$base-spacing;
  @include font-size(16, 25);

  @include media($xl-up) {
    padding-right:$column;
  }
}

.policy-area__related-info-block {
  background-color: white;
  border:0.5px solid $light-grey;
  border-bottom:2px solid $grey;
  border-radius: 0.6rem;

  &:first-of-type {
    margin-top:$base-spacing * 2;
  }

  &:not(:last-of-type) {
    margin-bottom:$base-spacing;
  }
}

.policy-area__related-info-block__title {
  color:white;
  background: linear-gradient(to bottom, $blue 30%, darken($blue, 5%) 100%), $blue;
  padding:0.8rem;
  border-radius: 0.5rem;
  margin:0;
  cursor: pointer;
  box-shadow:0 0.2rem 0 rgba(black, 0.2);


  &:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    margin:0 1rem;
  }

  &.active {
    border-radius:0.5rem 0.5rem 0 0;

    &:before {
      font-family: 'FontAwesome';
      content: '\f0d8';
      margin:0 1rem;
    }
  }
}

.policy-area__related-info-block__content {
  padding:2rem;
}